body {
    font-family: 'DM Sans', sans-serif
}

.navbar {
    background-color: transparent !important;
    margin: 50px;

}

.navbar-brand {
    color: #B31312;
    font-size: 30px;
    margin-left: 100px;
}

.nav-item-text {
    color: #EA906C;
    font-size: 15px;
    margin-left: 35px;
    font-weight: lighter;
}

.fa-angle-down {
    font-size: 8px;
}

.contact_us {
    margin-right: 100px;
}



.main {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    background-color: #EEE2DE;
}

.img-container {
    max-width: 80%;
    /* Adjust the width as needed */
}

.img-container img {
    width: 122%;
    /* Make sure the image doesn't exceed its container */
}

.text-container {
    margin-left: 170px;
    color: #2B2A4C;

    max-width: 50%;
    padding: 0 20px;
    /* Add some padding for spacing */
}

.main-body-txt {
    margin-top: 90px;
    margin-bottom: 25px;
    font-size: 80px;
}

.secondary-body-txt {
    font-size: 15px;
}


.mid {
    background-color: white;
    margin-top: 80px;
    margin-left: 80px;
}



.value-propositon {
    font-size: 19px;
    color: #B31312;
}

.why-nikulipe {
    margin-top: 30px;
}

.why-nikulipe-text {
    font-size: 48px;
    color: #EA906C;
}

i {
    font-size: 30px;
    color: #2B2A4C;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 90px;
    margin-left: 220px
}

h3 {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.description {
    font-size: 16px;
    margin-top: 25px;

}

.mid-section {
    text-align: center;
    /* Center the content if needed */
}

.img-container {
    position: relative;
    display: inline-block;
}

.mid-section-img {
    margin-top: 120px;
    margin-left: 10px;
    max-width: 100%;
    height: 2%;
}

.text-overlay {
    color: white;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.text-overlay-heading {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
}

.text-overlay-description {
    font-size: 35px;
    margin-bottom: 35px;
}

.text-overlay-paragraph {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.text-overlay-button {
    background: transparent;
    padding: 16px 70px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    /* Set the border to be black */
    border-radius: 50px;
}

.mid-1-section {
    margin-top: 100px;
    margin-left: 80px;

}

.relevant-news {
    color: #2B2A4C;
    font-size: 30px;
}


.mid-1-section-items {
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.whitepaper-title,
.blog-title,
.report-title {
    color: #EA906C;
    font-size: 13px;
}

.date-stamp {
    color: gray;
    font-size: 11px;


}

.read-more-sec {
    margin-top: 20px;
}

.report-description,
.blog-description,
.whitepaper-description {
    margin-top: 30px;
}

.report-img {
    width: 70%;
    /* Make the images fill their respective containers */
}

.blog-img {
    width: 87%
}

.whitepaper-img {
    width: 77.9%
}

.description-2 {
    font-size: 16px;

}

.read-more {
    font-size: 12px;
}

.hr-line {
    width: 7%;
    border-width: 4px;
    border-radius: 3px;
}

.newsroom-text {
    font-size: 20px;
}

.hr-line,
.newsroom-text {
    color: #B31312;
}




.new-section {
    padding-bottom: 95.25px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    /* Vertically center the content */
    background-color: #EEE2DE;
}


.solutions-section {
    margin-top: 5%;
    margin-left: 323px;
}

.solutions-heading {
    color: #2B2A4C;
    font-size: 17px;
}

.solutions-description {
    font-size: 40px;
}

.solutions-description-1 {
    font-size: 14px;
}

.solutions-description,
.solutions-description-1 {
    color: #2B2A4C;
    margin-top: 40px;
}

.text-overlay-button-1 {
    background: transparent;
    padding: 16px 30px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    color: #2B2A4C;
    border: 1px solid #2B2A4C;
    /* Set the border to be black */
    border-radius: 40px;
    margin-top: 20px;
}


footer {
    background-color: #EEE2DE;
    margin-top: 100px;
    padding-top: 30px;
}

.footer-section {
    margin-top: -20px;
}

.footer-heading {
    font-size: 20px;
    color: #B31312;
    margin-left: 80px;
    margin-top: 30px;
}

.footer-content {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 266.7px;
}

.footer-heading {
    flex-basis: 100%;
    margin-bottom: 70px;
    /* Adjust as needed */
}

.about-section,
.contact_us-section,
.faq-section {

    flex: 1;
    margin: 0 10px;
    margin-right: 200px;
    /* Add some margin between sections */
    max-width: 300px;
    /* Adjust as needed */
}

.about-section-heading,
.contact-us-section-heading,
.faq-section-heading {
    font-size: 23px;
}

.faq-section-desription,
.contact-us-section-description,
.about-section-description {
    font-size: 11px;
}


.subscribe-section {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    margin-left: 60px;
    padding-bottom: 200px;
}

.email-input {
    padding: 12px;
    border-radius: px;
    width: 20%;
    border: none
}

.submit-email {
    background-color:#EA906C;
    border: none;
    margin-left: 23px;
    color: white;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

}